<!DOCTYPE html>
<html>
<body>

<div style="text-align:center;">
  <%= image_tag("IMG_5493.JPG", size: "400x500", :alt => "rss feed") %>
</div>
<h1 align="center"><i><b>Sagar</b></i></h1>


<div style="text-align:center;">
  <%= image_tag("IMG_5501.JPG", size: "400x500", :alt => "rss feed") %>
</div>
<h1 align="center"><i><b>Swati</b></i></h1>

<h1 align="center"><i><b>Engagement</b></i></h>
<blockquote><em> They got engaged on <strong>28th May 2017</strong> in <strong>Pandharpur</strong>.</em></blockquote>

<h2 align="center"><i><b>Happy Couple..!</b></i></h2>
<div style="text-align:center;">
  <%= image_tag("IMG_5348.JPG", size: "575x400", :alt => "rss feed") %>
</div>

<h2 align="center"><i><b>With Sagar's Parents</b></i></h2>
<div style="text-align:center;">
  <%= image_tag("IMG_5426.JPG", size: "575x400", :alt => "rss feed") %>
</div>

<h2 align="center"><i><b>With Swati's Parents</b></i></h2>
<div style="text-align:center;">
  <%= image_tag("IMG_5408.JPG", size: "575x400", :alt => "rss feed") %>
</div>

<h2 align="center"><i><b>With Ukarande Family</b></i></h2>
<div style="text-align:center;">
  <%= image_tag("IMG_5382.JPG", size: "575x400", :alt => "rss feed") %>
</div>


<h1 align="center"><i><b>Special gift to Sagar from Swati on his Bday</b></i></h1>
<div style="text-align:center;">
  <%= image_tag("gift4.jpg", size: "400x400", :alt => "rss feed") %>
  <%= image_tag("gift3.jpg", size: "400x400", :alt => "rss feed") %>
  <%= image_tag("gift2.jpg", size: "400x400", :alt => "rss feed") %>
  <%= image_tag("gift1.jpg", size: "400x400", :alt => "rss feed") %>
</div>
</body>
</html>